---
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="en" class="scroll-smooth selection:bg-black selection:text-white">
  <head>
    <BaseHead />
  </head>
  <body class="bg-black">
    <main class="flex-grow"><slot /></main>
  </body>
</html>
